body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

button {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.menu-button {
  background: none;
  border: none;
}

.custom-flex {
  display: flex;
  align-items: center;
}

.menu-drop {
  text-align: left;
  padding-left: 30px;
  font-size: 18px;
  color: white;
  position: relative;
}

.menu-bottom {
  text-align: left;
  padding-left: 30px;
  font-size: 15px;
  color: white;
  position: relative;
}

.sidebar {
  position: absolute;
  transition: 0.4s;
  opacity: 0.9;
  height: 100vh;
  background-color: #384d5b;
  float: left;
}
.sidebar a {
  color: white;
}

.sidebar-header {
  padding: 15px 15px;
  height: 60px;
  background-color: #213f54;
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.menu-list {
  color: #e1e1e1;
}
.menu-list li {
  margin: 10px 0px;
}
.menu-list li svg {
  fill: #e1e1e1;
  margin-right: 10px;
}

.menu-bottom {
  color: #e1e1e1;
}
.menu-bottom li {
  margin: 10px 0px;
}
.menu-bottom li svg {
  fill: #e1e1e1;
  margin-right: 10px;
}

.activity {
  width: 100%;
}
.activity .mini-box {
  height: 260px;
}
.activity .mini-box .box-inside {
  padding: 10px;
}
.activity .mini-box .box-inside li {
  color: #a5a5a5;
  font-weight: bold;
}

.wrap-box {
  -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.acc-setting li {
  margin: 7px 0px;
}

.rc-collapse-header {
  line-height: 7px !important;
  background-color: #5b7c93 !important;
  color: white !important;
}

.arrow {
  color: white !important;
}

.App {
  text-align: unset !important;
}

.wrap-box {
  background-color: white;
}

.table-header {
  background-color: #d9e6f0;
}

.slide {
  height: 0px !important;
}

.blue-button {
  background-color: #5c7d94;
  border: none;
  color: white;
  border-radius: 5px;
}

.custom-input {
  width: 140px;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(0deg, #d6d7d9, #f9fafa);
  padding: 3px 10px;
  font-size: 14px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.custom-textarea {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  resize: none;
}

.custom-button {
  background-image: linear-gradient(90deg, #efefef, #b9b9b9);
  border: 1px solid #fff;
  border-radius: 5px;
  color: #5c7d94;
  font-weight: bold;
  -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.disable-shadow {
  -webkit-box-shadow: 0px -3px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -3px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -3px 5px -2px rgba(0, 0, 0, 0.75);
}

.box-header {
  text-align: left;
  background-color: #5c7d94;
  color: white;
  padding: 10px 10px;
}

.modal-color {
  color: #556f94 !important;
}

.table-header {
  background: #5d7d94;
  color: white;
}
.table-header th {
  padding-left: 25px;
}

.table-body th, .table-body td {
  padding-left: 25px;
}

.user-icon {
  background-color: #5d7d94;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  height: 30px;
  width: 30px;
}

.menu-list {
  transition: 0.4s;
  display: block;
  height: 200px;
}

.action-button {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}
.action-button button {
  width: 120px;
  padding: 5px;
}

.leaflet-right {
  display: none;
}

.modal-header {
  padding: 0rem 1rem;
  background-color: #5c7d94;
  color: white;
}
.modal-header span {
  color: white;
}

.modal-dialog {
  width: 70% !important;
  max-width: none;
}

.modal-body li {
  margin: 15px 0px;
}
.modal-body label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.toggle2 {
  width: 20% !important;
}

.map {
  height: 100vh;
  width: 100%;
}

.leaflet-grab {
  height: 100vh;
}

.mod {
  position: absolute;
  transition: 0.4s;
  top: 60px;
  height: 400px;
  background-color: #ebebeb;
  opacity: 0.9;
  z-index: 999999;
  width: 350px;
  display: block;
  border: 1px solid black;
}
.mod .box-header {
  background-color: #4f5863;
}
.mod .box-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ebebeb;
  opacity: 0.8;
  padding: 5px;
}
.mod .box-search input {
  border: 0px;
  width: 310px;
  background: none;
}

.custom-modal {
  border-radius: 10px;
  position: relative;
}
.custom-modal .custom-modal-header {
  background-color: #5d7d94;
  color: white;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
}
.custom-modal .custom-modal-body {
  background-color: #e2e3e5;
  height: 100px;
}
.custom-modal .custom-modal-body li {
  border-top: 1px solid #c8c9ca;
  border-bottom: 1px solid #c8c9ca;
}
.custom-modal .custom-modal-footer {
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: right;
  background-color: #5d7d94;
}

.setUser li {
  border: none !important;
  padding-left: 15px;
  width: 90%;
}
.setUser li span {
  padding-left: 0px;
}
.setUser li input, .setUser li select {
  width: 100%;
}

.trousaction-table th, .trousaction-table td {
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-top: 0px;
  text-align: center;
}

.modal-design {
  width: 20% !important;
}

.modal-design2 {
  width: 30% !important;
}

.modal-design .modal-content, .modal-design2 .modal-content {
  border-radius: 15px;
}

.right-action {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 999;
}
.right-action svg {
  fill: white;
}

.main-btn {
  margin: 3px 0px;
}
.main-btn button {
  padding: "8px 8px";
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #232e3d;
  border: 0px;
  padding: 8px 8px;
  transition: 0.3s;
}
.main-btn button:hover {
  background-color: white;
  color: black;
}
.main-btn button:hover svg {
  fill: black !important;
}

.dropleft .dropdown-toggle::before {
  content: none;
}

.tilelayer-drop {
  padding: 10px;
  left: -15px;
  width: 165px;
}

.activi-table .pagination {
  overflow: hidden !important;
  text-align: center;
  justify-content: center;
  background-color: #c9c9c9;
  border-radius: 0px;
  margin-bottom: 0px;
}
.activi-table .pagination .page-link {
  padding: 0px;
  border: 0px;
  margin: 5px 0px;
  color: white;
  background-color: #c9c9c9;
  transition: 0.2s;
  font-size: 18px;
}
.activi-table .pagination .page-link:hover {
  color: #0056b3;
}

.act-mini .box-inside {
  padding: 15px;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: unset;
  background-color: transparent !important;
  border-color: transparent !important;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: unset;
  background-color: transparent !important;
  border-color: transparent !important;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  color: #fff !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.btn-secondary {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.btn-secondary:hover {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.side-mini-menu button:nth-of-type(1) {
  background-color: transparent;
  border-color: transparent;
  padding-right: 0px;
  padding-left: 0px;
}
.side-mini-menu button:nth-of-type(1) img {
  margin-right: 5px;
}

.drop-itm button {
  padding: 0px;
}
.drop-itm button a {
  color: black;
  padding-left: 15px;
  transition: 0.3s;
  display: block;
}
.drop-itm button a:hover {
  background-color: #0056b3;
  color: white;
}

.rc-collapse-content {
  padding: 0px !important;
}

.rc-collapse-content-box {
  margin: 0px !important;
}

.custom-panel-header {
  font-size: 14px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ebebeb;
  padding: 5px 5px;
  justify-content: space-between;
}
.custom-panel-header span {
  margin: 0px 5px;
}

.panel-mini-menu {
  height: 100%;
  border-color: transparent;
  text-align: right;
  background-color: #5b7c93;
  display: block;
}
.panel-mini-menu svg {
  width: 15px;
  height: 15px;
  fill: #837e79;
}

.vhc-data {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.item-mini-menu {
  color: white;
  border-radius: 10px;
  background-color: #435774;
}
.item-mini-menu::before {
  display: block;
  content: "";
  background-color: #435774;
  position: absolute;
  left: -16px;
  top: 0px;
  height: 80px;
  width: 40px;
  clip-path: polygon(0 45%, 50% 34%, 50% 58%);
}
.item-mini-menu ul {
  padding: 5px;
}
.item-mini-menu ul li {
  padding: 5px 20px 10px 5px;
  border-bottom: 1px solid #4b5e7a;
  transition: 0.3s;
  border-radius: 5px;
}
.item-mini-menu ul li:hover {
  background-color: white;
  color: black;
}

.data-graph {
  width: 100%;
  height: 180px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 999;
}

.bottom-car-info {
  background-color: #fff;
  opacity: 0.9;
  display: flex;
  position: absolute;
  bottom: 0px;
  z-index: 999999;
  width: 100%;
  right: 0px;
}

.adver-list {
  width: 100% !important;
}

.add-form {
  height: 30vh;
  display: flex;
  justify-content: center;
}

.add-selection {
  height: 45vh;
}

.add-tab-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-tab-header strong {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-tab-header button {
  color: black;
  background-color: transparent;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
}
.add-tab-header button svg {
  margin-right: 5px;
}

.add-header {
  display: flex;
  justify-content: space-between;
}
.add-header button {
  color: white;
  background-color: transparent;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
}
.add-header button svg {
  margin-right: 5px;
}

.add-list {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ac-btn button {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  padding: 5px 10px;
  border: 0px;
  margin-left: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.schedule {
  height: 146px;
  background-color: white;
  opacity: 0.9;
  display: flex;
}
.schedule .dow-graph {
  width: 40px;
}
.schedule .dow-graph ul {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-right: 1px solid #dadada;
}
.schedule .dow-graph ul svg {
  fill: #435774;
}

.leaflet-popup {
  opacity: 1 !important;
}

.region-cars {
  background-color: #e9e8e3;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #d6d6d5;
}
.region-cars input {
  margin-right: 3px;
  width: 15px;
  height: 15px;
}
.region-cars button {
  display: flex;
  align-items: center;
  color: #435774;
  font-weight: 700;
  margin: 0px !important;
  border: 1px solid transparent;
  background-color: transparent;
}
.region-cars button svg {
  height: 13px;
  width: 13px;
  fill: #989795;
}

.region-inner {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #e9e8e3;
}
.region-inner button {
  display: flex;
  align-items: center;
  margin: 0px !important;
  border: 1px solid transparent;
  background-color: transparent;
}
.region-inner input {
  height: 15px;
  width: 15px;
  margin: 0px 5px 0px 0px;
}

.data-log-table {
  background: #eeeeee;
  color: #85b5d6;
  height: 30%;
}
.data-log-table tbody {
  background-color: white;
}
.data-log-table th {
  border-bottom: 2px solid #dee2e6;
  font-size: 10px;
  text-align: left;
  padding: 0.4rem;
  color: black;
}
.data-log-table td {
  text-align: left;
  font-size: 10px;
  padding: 3px 5px;
  color: black;
}

.data-log-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end !important;
  background-color: white !important;
}
.data-log-pagination span {
  margin: 5px 5px !important;
  color: black !important;
  background-color: white !important;
  font-size: 25px;
  transition: 0.3s;
}
.data-log-pagination span:hover {
  color: #5c7d94 !important;
}

.data-log-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#chart {
  height: 100%;
  overflow: hidden;
}

.car-owner-info {
  color: #9d9d9d;
  background-color: #edeeee;
  opacity: 0.9;
  font-weight: 600;
}
.car-owner-info li {
  padding: 5px 10px;
  border-bottom: 1px solid #d4d7db;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.car-owner-info li:first-child {
  background-color: #e4e4e4;
}
.car-owner-info li:first-child svg {
  margin-right: 10px;
}

.owner-header {
  color: #435774;
  display: flex;
  align-items: center;
}
.owner-header svg {
  fill: #424343;
}

.sensor-list .sensor-list-item {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sensor-list .sensor-list-item svg {
  fill: #bebebe;
  margin-right: 10px;
}
.sensor-list .colored-icon {
  fill: #00df00 !important;
}

.street-view {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #edeeee;
}

#uncontrolled-dropdown::after {
  content: none;
}

.customMdl {
  width: 40% !important;
}

/*# sourceMappingURL=style.css.map */
